<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robban</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"/>
  </head>
  <body>
  <section class="section has-text-centered">
    <figure class="image container is-128x128">
        <img class="is-rounded" src="https://media-exp1.licdn.com/dms/image/C4D0BAQHqkL92yrot4Q/company-logo_200_200/0/1618494569778?e=1643846400&v=beta&t=cDKHnCiAAFQlJPHh2z8NgPw4J8wDpXa_gGPCxxwRqYo"/>
    </figure>
    <p class="title">CI/CD CM HT</p>
    <p class="title">Testar CI</p>
    <p class="subtitle">Välkomna till denna videon om pipelines</p>
    <a class="button is-info is-outlined is-rounded" href="{{url_for('contact')}}">Contact</a>
    <a class="button is-danger is-outlined is-rounded" href="https://github.com/kakashidota" target="_blank">Github</a>
  </section>
  <section class="columns">
    <div class="column is-three-fifths is-offset-one-fifth has-background-light">
        <div class="columns">
            <div class="column is=half">
                <div class="card m-3"> 
                    <div class="card-content has-background-danger-light">
                        <h1 class="title">About</h1>
                        <p class="subtitle"></p>
                    </div>
                </div>
                <div class="card m-3"> 
                    <div class="card-content has-background-success-light">
                        <h1 class="title">Interests</h1>
                        <p class="subtitle"></p>
                    </div>
                </div>
            </div>
            <div class="column is=half">
                <div class="card m-3"> 
                    <div class="card-content has-background-info-light">
                        <h1 class="title">Experience</h1>
                        <p class="subtitle"></p>
                    </div>
                </div>
                <div class="card m-3"> 
                    <div class="card-content has-background-warning-light">
                        <h1 class="title">Education</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  </body>
</html>